<div class="jumbotron">
  <div class="container">
    <h1>About us</h1>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home" style="color: #666;">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/about-us" style="font-weight: 800; color: #FF6101;">About us</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>RIDON printing <span class="primary-text">and advertising</span></h2>
      <p>RIDON printing and advertising Privet limited company is well organized company by the vision of being best printing and adverting company in Ethiopia, it registered with the ministry of trade and industry and Broadcasting Authority under registration number 288/2007</p>
      <h2>Our <span class="primary-text">vision</span></h2>
      <p>To make RIDON printing and advertising company a leading printing and Advertising company in Ethiopia.</p>
      <h2>Our <span class="primary-text">vision</span></h2>
      <p>
        RIDON printing and advertising P.L.C  is committed to provide  quality products and attractive professional services to the suitable information for the tourism sector and for any relevant user.
        And develop strong link and partnership with government and business organization related our service</p>
      <h2>Our <span class="primary-text">Values</span></h2>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Provide quality production in professional manner</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Consciously and visibly build and utilize a strong sense of team identity and commitment</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Sense of belongingness and moral responsibility.</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Environment of criticisms, openness and honesty.</p>
      <h2>Our <span class="primary-text">targets</span></h2>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Any legal organization needed quality printing service and commercial advertizing.</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Business organization, government organization, non government organization (NGOs), advertising companies..</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Bank and Insurance</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Hotels</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Guest House</p>
      <p><span class="primary-text fa fa-check"></span>&nbsp;Tour and Travel</p>
    </div>
  </div>
</div>
<app-footer style="position: relative; bottom: 0;"></app-footer>
