<section>
  <div class="container">
    <div class="row">
      <h1>Our <span style="color: #ff6101;">blog</span></h1>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/images/blog-3.jpg" alt="" height="200" style="width: 100%;">
          </div>
          <div class="card-content" style="padding: 8px 16px;">
            <div class="card-title">
             <h4> A beautiful view <span style="color: #ff6101;">  information</span></h4>
              <a href="#">February 02, 2017</a> |
              <a href="#">Uncategorized</a>
              <p>Collaboratively embrace orthogonal meta-services vis-a-vis e-business intellectual capital. Authoritatively fashion value-added action items whereas progressive…</p>
              <button class="btn" style="background-color: #ff6101; color: #fff;">Read more</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/images/blog-3.jpg" alt="" height="200" style="width: 100%;">
          </div>
          <div class="card-content" style="padding: 8px 16px;">
            <div class="card-title">
              <h4> A beautiful view <span style="color: #ff6101;">  information</span></h4>
              <a href="#">February 02, 2017</a> |
              <a href="#">Uncategorized</a>
              <p>Collaboratively embrace orthogonal meta-services vis-a-vis e-business intellectual capital. Authoritatively fashion value-added action items whereas progressive…</p>
              <button class="btn" style="background-color: #ff6101; color: #fff;">Read more</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/images/blog-3.jpg" alt="" height="200" style="width: 100%;">
          </div>
          <div class="card-content" style="padding: 8px 16px;">
            <div class="card-title">
              <h4> A beautiful view <span style="color: #ff6101;">  information</span></h4>
              <a href="#">February 02, 2017</a> |
              <a href="#">Uncategorized</a>
              <p>Collaboratively embrace orthogonal meta-services vis-a-vis e-business intellectual capital. Authoritatively fashion value-added action items whereas progressive…</p>
              <button class="btn" style="background-color: #ff6101; color: #fff;">Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
<app-footer style="position: relative; bottom: 0;"></app-footer>
