<div class="jumbotron">

</div>
<section class="features" style="background-color: #FF6101;">
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/images/features-1.png" alt="">
      <br>
      <br>
      <h6 class="features-heading">Products</h6>
      <p>In perfection.</p>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/images/features-2.png" alt="">
      <br>
      <br>
      <h6 class="features-heading">Services</h6>
      <p>With flexibility.</p>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/images/features-3.png" alt="">
      <br>
      <br>
      <h6 class="features-heading">Insights</h6>
      <p>With intelligence.</p>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <img src="../../assets/images/features-4.png" alt="">
      <br>
      <br>
      <h6 class="features-heading">Inspiration</h6>
      <p>In action.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="padding-top: 6em;">
        <h1>Copying And
          Printing Center</h1>
        <p>
          Transform your project into a finished piece. We can print and design just about anything from signs and banners to brochures, promotional products and forms, with options of variable data printing, web-to-print and customized online ordering.
        </p>
        <a class="meseyat-button" routerLink="/contact-us">Contact us</a>
      </div>
      <div class="col-md-5" style="padding-top: 3em;">
        <img src="../../assets/images/image-30.jpg" alt="" height="300" style="width: 100%;">
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section style="background-color: #ececec;">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="../../assets/images/service-02.png" alt="" height="300" style="width: 100%;">
      </div>
      <div class="col-md-7" style="padding-top: 3em;">
        <h1>Digital <span style="color: #ff6101;">print</span></h1>
        <p>
          Lorem ipsum dolor sit amet, eu pri detraxit indoctum. Epicurei perfecto periculis in qui, sed eu persius ornatus, et malorum sensibus philosophia pri. Et usu dicam aeterno honestatis. Vel dicam petentium vituperata an, omnis posse legimus sea te. Vis ut reque facer. Vidit detraxit democritum ut nec, ut mea evertitur temporibus. Cum cu labitur senserit, ex eos appetere reformidans. Proactively whiteboard high-quality technologies with high-quality e-markets. Rapidiously reinvent standardized users through. Synergistically customize impactful leadership skills vis-a-vis future-proof quality vectors. Conveniently.

          Praesent vulputate at magna ac blandit. Fusce ornare porttitor diam, et finibus ligula interdum a. Nam luctus vel elit in fermentum.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-7" style="padding-top: 6em;">
        <h1>Broucher <span style="color: #ff6101;">print</span></h1>
        <p>
          Vidit detraxit democritum ut nec, ut mea evertitur temporibus. Cum cu labitur senserit, ex eos appetere reformidans. Labores qualisque cum ea, te eleifend philosophia comprehensam nam. At sed euripidis comprehensam, ad oratio fabellas eos, nostro debitis mea ea. Eam diam eros nominavi ea. An eam qualisque interesset definitionem, est harum graecis cu. Labores qualisque cum ea, te eleifend philosophia. Globally reinvent error-free processes through high-quality opportunities. Monotonectally provide access.

          Roin aliquam leo in orci pulvinar tempor. Pellentesque ornare lobortis ante at posuere. Integer urna eros, varius et odio dapibus, luctus vehicula massa. Pellentesque dolor purus, fringilla cursus consectetur et, gravida at urna.
        </p>
        <a class="meseyat-button" routerLink="/contact-us">Contact us</a>
      </div>
      <div class="col-md-5" style="padding-top: 3em;">
        <img src="../../assets/images/service-05.png" alt="" height="300" style="width: 100%;">
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="features" style="background-color: #FF6101;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align: center;">
      <h2 class="white-text">UNLEASH YOUR IDEAS. WE'LL HELP YOU</h2>
      <p class="white-text">Through simplicity and flexibility of our services can be reached quickly and easily to your pressure.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
<br>
<br>
<section>
 <div class="container">
   <div class="row">
     <h1>Our <span style="color: #ff6101;">blog</span></h1>
   </div>
   <div class="row">
     <div class="col-md-4">
       <div class="card">
         <div class="card-image">
           <img src="../../assets/images/blog-3.jpg" alt="" height="200" style="width: 100%;">
         </div>
         <div class="card-content" style="padding: 8px 16px;">
           <div class="card-title">
            <h4> A beautiful view <span style="color: #ff6101;">  information</span></h4>
             <a href="#">February 02, 2017</a> |
             <a href="#">Uncategorized</a>
             <p>Collaboratively embrace orthogonal meta-services vis-a-vis e-business intellectual capital. Authoritatively fashion value-added action items whereas progressive…</p>
             <button class="btn" style="background-color: #ff6101; color: #fff;">Read more</button>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-4">
       <div class="card">
         <div class="card-image">
           <img src="../../assets/images/blog-3.jpg" alt="" height="200" style="width: 100%;">
         </div>
         <div class="card-content" style="padding: 8px 16px;">
           <div class="card-title">
             <h4> A beautiful view <span style="color: #ff6101;">  information</span></h4>
             <a href="#">February 02, 2017</a> |
             <a href="#">Uncategorized</a>
             <p>Collaboratively embrace orthogonal meta-services vis-a-vis e-business intellectual capital. Authoritatively fashion value-added action items whereas progressive…</p>
             <button class="btn" style="background-color: #ff6101; color: #fff;">Read more</button>
           </div>
         </div>
       </div>
     </div>

     <div class="col-md-4">
       <div class="card">
         <div class="card-image">
           <img src="../../assets/images/blog-3.jpg" alt="" height="200" style="width: 100%;">
         </div>
         <div class="card-content" style="padding: 8px 16px;">
           <div class="card-title">
             <h4> A beautiful view <span style="color: #ff6101;">  information</span></h4>
             <a href="#">February 02, 2017</a> |
             <a href="#">Uncategorized</a>
             <p>Collaboratively embrace orthogonal meta-services vis-a-vis e-business intellectual capital. Authoritatively fashion value-added action items whereas progressive…</p>
             <button class="btn" style="background-color: #ff6101; color: #fff;">Read more</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
    </div>
  </div>
</section>
<app-footer style="position: relative; bottom: 0;"></app-footer>
